.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.home-container p, .home-container h2, .home-container h3 {
    color: white;
    text-align: justify;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-image: url('/img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#p-desc {
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: bold;
    font-family: "ZCOOL KuaiLe", sans-serif;
    src: url('../fonts/ZCOOLKuaiLe-Regular.ttf')
}

#img-avestruz {
    height: 300px;
    border-radius: 10px;
}

#img-tienda {
    height: 180px;
    border-radius: 10px;
}

#img-leaderboard {
    height: 180px;
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 4px;
}

#titulo {
    font-family: "ZCOOL KuaiLe", sans-serif;
    font-size: 65px;
    text-align: center;
    color: rgb(1, 202, 189);
}

.btn-download {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #d50000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-download:hover {
    background-color: #870000;
}

.btn-download:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-join {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-join:hover {
    background-color: #1c1c1c;
}


.btn-join:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #137100;
}

.footer {
    margin-top:50px;
}