.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

#p-desc {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 4px;
}



#titulo {
    font-family: system-ui;
    font-size: 45px;
}

.btn-download {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-download:hover {
    background-color: #0056b3;
}

.btn-download:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-join {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #137100;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-join:hover {
    background-color: #137100;
}


.btn-join:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #137100;
}

