body {
    background-image: url('/img/fondo.png')!important;
}

@media (max-width: 500px){
    .footer{
        bottom: 0;
    }

    .container-registro {
        width: 70%
    }
    
    .h2-registro {
        font-size: 25px;
    }
}