/* .container-registro {
    margin-bottom: 241px!important;
}
 */
.img-opt {
    height: 61px;
    width: 68px;
    margin-right: 30px;
}

body {
    background-image: url('/img/fondo.png')!important;
}

@media (max-width: 500px){
    .footer{
        bottom: 0;
    }

    .container-registro {
        width: 89%
    }
    
    .h2-registro {
        font-size: 25px;
    }
}